header.nameplate {
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: .1em;
}

div.language-pool {
    display: flex;
    gap: 1em;
    background-color: #ddd;
    padding: .1em;

    header {
        background-color: #333;
        color: white;
        font-weight: bold;
        padding: 0.5em 1em 0.5em 2em;
        margin: 0.25em 0.25em 0.25em -1em;
        text-align: right;
        border-radius: 0 0.5em 0.5em 0;
    }

    .phoneme-pool {
        header {
            background-color: transparent;
            color: #666;
            text-align: left;
            text-transform: uppercase;
            font-size: 0.8em;
            padding: 0;
            margin: 0;
        }

        button.toggle-display {
            background-color: #eee;
            border: 1px solid #666;
            border-radius: 0.5em;
            color: #333;
            font-weight: bolder;
            font-size: 0.8em;
        }
    }
}

div.phoneme-selector {
    border: 2px solid #333;
    border-radius: 0.5em;
    background-color: #fff;
    padding: 1em;
    position: absolute;
    max-width: 20em;

    .phoneme-toggle {
        margin: 0.25em;
        border: 1px solid #666;
        border-bottom-width: 0.5em;
        border-radius: 0.25em;
    }

    .selected {
        background-color: rgb(27, 144, 60);
        border-color: rgb(17, 106, 42);
        color: white;
    }
}

div.phonemes {
    width: 100%;
    display: flex;
    gap: 1em;
    background-color: #aaa;
    padding: .1em;
    
    .word-section {
        width: 100%;
        margin: 1em;
        background-color: #ddd;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 2em auto;
        grid-template-areas: 
            "title  title"
            "vowels consonants";
        border-radius: 0.5em;

        header {
            grid-area: title;
            text-align: center;
            font-weight: 900;
            background-color: #333;
            color: white;
            padding-top: 0.7em;
        }

        .phoneme-pool {
            header {
                background-color: transparent;
                color: #666;
                text-align: left;
                text-transform: uppercase;
                font-size: 0.8em;
            }
        }
    }

}



.phoneme-pool {
    padding: .5em;

    .buttons {
        display: flex;
        flex-wrap: wrap;

        button {
            margin: .1em;
            padding: .25em .5em;
            background-color: #333;
            color: white;
            border: none;
            border-radius: .25em;
        }
    }
}

.generated-words {
    text-align: center;
    li {
        list-style: none;
        display: inline-block;
        padding: 0.25em 0.5em;
        margin: 0.25em 0.5em;
        border: 1px solid #666;
        background-color: #eee;
        border-radius: 0.5em; 
    }
}